.card {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover{
    transform: translateY(-2px);
    box-shadow: 3px 8px 20px rgba(0, 0, 0, 0.1) !important;
}

.section-title {
    color: var(--primary-blue);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 3px solid var(--primary-blue-lighter);
    padding-bottom: 0.5rem;
    font-weight: 600;
}