global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend mysql_front
    bind *:3306
    default_backend mysql_back


backend mysql_back
    mode tcp
    balance roundrobin
    #option mysql-check user haproxy_check
    server galera1 galera1:3306 check
    server galera2 galera2:3306 check
    server galera3 galera3:3306 check


