global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Frontend HTTP - Solo para usuarios finales
frontend http_front
    bind *:8080
    mode http
    
    # Regla para el backend API
    acl is_api path_beg /api
    
    # Redirigir API al backend
    use_backend backend_api if is_api
    
    # Todo lo demás va al frontend
    default_backend frontend_back

# Backend para el Frontend Angular
backend frontend_back
    mode http
    server frontend frontend:80 check

# Backend para el API
backend backend_api
    mode http
    server backend backend:8000 check

