[mysqld]
bind-address=0.0.0.0
server_id=1
default_storage_engine=InnoDB
binlog_format=ROW
innodb_autoinc_lock_mode=2

# Galera settings
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="galera_cluster"
wsrep_cluster_address="gcomm://"
#wsrep_cluster_address="gcomm://galera1,galera2,galera3"
wsrep_node_name="galera1"
wsrep_node_address="galera1"
wsrep_sst_method=rsync

# Habilitar slow query log
#slow_query_log = 1
#slow_query_log_file = /var/lib/mysql/slow.log
#long_query_time = 1
#log_queries_not_using_indexes = 1
slow_query_log = 1
long_query_time = 0.2
log_output = FILE
slow_query_log_file = /var/lib/mysql/slow.log

log_slow_admin_statements = OFF
log_slow_slave_statements = OFF

