[mysqld]
bind-address=0.0.0.0
server_id=2
default_storage_engine=InnoDB
binlog_format=ROW
innodb_autoinc_lock_mode=2

# Galera settings
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="galera_cluster"
wsrep_cluster_address="gcomm://galera1,galera2,galera3"
wsrep_node_name="galera2"
wsrep_node_address="galera2"
wsrep_sst_method=rsync